In [13]:
import numpy as np
import pandas as pd
import logging, sys, math
from importlib import reload
import library
import library.DataFilters
from  library.DataFilters import DataFilter

In [19]:
if sys.modules.get( 'library', False ) != False :
    del sys.modules['library'] 
if sys.modules.get( 'library.DataFilters', False ) != False :
    del sys.modules['library.DataFilters'] 
if sys.modules.get( 'DataFilter', False ) != False :
    del sys.modules['DataFilter'] 

from library.DataFilters import *
logging.warning( "DataFilters loaded" )
dfFilter = DataFilter()

WARNING:root:DataFilters loaded

In [20]:
files = ['every_10_from_0.csv', 'every_10_from_6.csv', 'every_10_from_9.csv', 'every_10_from_12.csv', 'every_100_from_0']

In [21]:
#a loop to do all

In [22]:
df = dfFilter.loadCSVFromHDD('every_10_from_0.csv')

In [23]:
df.shape

(62914548, 3)

In [26]:
df.tail(10)

          Unnamed: 0  acoustic_data  time_to_failure
62914538   629145380              8         9.759796
62914539   629145390              5         9.759796
62914540   629145400              7         9.759796
62914541   629145410              7         9.759796
62914542   629145420             10         9.759796
62914543   629145430              6         9.759796
62914544   629145440              6         9.759796
62914545   629145450              3         9.759796
62914546   629145460              8         9.759796
62914547   629145470              6         9.759796

In [25]:
?pd.read_csv

In [27]:
df9To10 = df[ (df.time_to_failure >= 9) & (df.time_to_failure <10 )]

In [28]:
df9To10.shape

(3208804, 3)

In [29]:
df0To1 = df[ (df.time_to_failure >= 0) & (df.time_to_failure <1 )]

In [30]:
df0To1.shape

(6159564, 3)

In [31]:
df1To2 = df[ (df.time_to_failure >= 1) & (df.time_to_failure <2 )]

In [32]:
df1To2.shape

(5955583, 3)

In [33]:
df2To3 = df[ (df.time_to_failure >= 2) & (df.time_to_failure <3 )]

In [34]:
df2To3.shape

(5774126, 3)

In [35]:
df8To9 = df[ (df.time_to_failure >= 8) & (df.time_to_failure <9 )]
df8To9.shape

(4354047, 3)

In [37]:
df10To11 = df[ (df.time_to_failure >= 10) & (df.time_to_failure <11 )]
df10To11.shape

(3079375, 3)

In [38]:
df['cat'] = round(df.time_to_failure)

In [45]:
df.groupby(['cat']).count()

      Unnamed: 0  acoustic_data  time_to_failure
cat
0.0      3079373        3079373          3079373
1.0      6148094        6148094          6148094
2.0      5774947        5774947          5774947
3.0      5773312        5773312          5773312
4.0      5774541        5774541          5774541
5.0      5775359        5775359          5775359
6.0      5774130        5774130          5774130
7.0      5604556        5604556          5604556
8.0      4990566        4990566          4990566
9.0      3739235        3739235          3739235
10.0     3031451        3031451          3031451
11.0     2868839        2868839          2868839
12.0     1601944        1601944          1601944
13.0     1230029        1230029          1230029
14.0     1032192        1032192          1032192
15.0      482099         482099           482099
16.0      233881         233881           233881

In [ ]:
df.groupby(['cat'])