In [31]:
import numpy as np
import pandas as pd
import logging, sys, math
from importlib import reload
import library
import library.DataFilters
from  library.DataFilters import DataFilter
import matplotlib.pyplot as plt
%matplotlib auto

Using matplotlib backend: Qt5Agg

In [32]:
if sys.modules.get( 'library', False ) != False :
    del sys.modules['library'] 
if sys.modules.get( 'library.DataFilters', False ) != False :
    del sys.modules['library.DataFilters'] 
if sys.modules.get( 'DataFilter', False ) != False :
    del sys.modules['DataFilter'] 

from library.DataFilters import *
logging.warning( "DataFilters loaded" )
dfFilter = DataFilter()

WARNING:root:DataFilters loaded

In [33]:
files = ['every_10_from_0.csv', 'every_10_from_6.csv', 'every_10_from_9.csv', 'every_10_from_12.csv', 'every_100_from_0']

In [34]:
#a loop to do all

In [35]:
df = dfFilter.loadCSVFromHDD('every_10_from_0.csv')

In [36]:
df.shape

(62679988, 2)

In [37]:
df.tail(10)

          acoustic        ttf
62679978         3  10.368399
62679979         6  10.368399
62679980         1  10.368399
62679981         5  10.368399
62679982         5  10.368399
62679983         5  10.368399
62679984         7  10.368399
62679985         4  10.368399
62679986         5  10.368398
62679987         3  10.368398

In [41]:
df9To10 = df[ (df.ttf >= 9) & (df.ttf <10 )]

In [42]:
df9To10.shape

(3116235, 2)

In [43]:
df0To1 = df[ (df.ttf >= 0) & (df.ttf <1 )]

In [44]:
df0To1.shape

(6159564, 2)

In [45]:
df1To2 = df[ (df.ttf >= 1) & (df.ttf <2 )]

In [46]:
df1To2.shape

(5955583, 2)

In [47]:
df2To3 = df[ (df.ttf >= 2) & (df.ttf <3 )]

In [48]:
df2To3.shape

(5774126, 2)

In [49]:
df8To9 = df[ (df.ttf >= 8) & (df.ttf <9 )]
df8To9.shape

(4354047, 2)

In [50]:
df10To11 = df[ (df.ttf >= 10) & (df.ttf <11 )]
df10To11.shape

(2937384, 2)

In [51]:
df['cat'] = round(df.ttf)

In [52]:
df.groupby(['cat']).count()

      acoustic      ttf
cat
0.0    3079373  3079373
1.0    6148094  6148094
2.0    5774947  5774947
3.0    5773312  5773312
4.0    5774541  5774541
5.0    5775359  5775359
6.0    5774130  5774130
7.0    5604556  5604556
8.0    4990566  4990566
9.0    3739235  3739235
10.0   2796891  2796891
11.0   2868839  2868839
12.0   1601944  1601944
13.0   1230029  1230029
14.0   1032192  1032192
15.0    482099   482099
16.0    233881   233881

In [58]:
groupedData = df.groupby(['cat'], as_index = False)

In [59]:
type(groupedData)

pandas.core.groupby.groupby.DataFrameGroupBy

In [61]:
groupedData.acoustic.mean()

     cat  acoustic
0    0.0  4.526885
1    1.0  4.521350
2    2.0  4.522125
3    3.0  4.529344
4    4.0  4.521876
5    5.0  4.500832
6    6.0  4.519439
7    7.0  4.519183
8    8.0  4.523661
9    9.0  4.549535
10  10.0  4.566313
11  11.0  4.481782
12  12.0  4.578546
13  13.0  4.497432
14  14.0  4.505447
15  15.0  4.275900
16  16.0  4.133423

In [54]:
groupedData.first().plot()

In [62]:
groupedData.head( n = 10 )

          acoustic      ttf   cat
0               12   1.4691   1.0
1                5   1.4691   1.0
2                4   1.4691   1.0
3                4   1.4691   1.0
4                0   1.4691   1.0
5               11   1.4691   1.0
6                4   1.4691   1.0
7                6   1.4691   1.0
8                6   1.4691   1.0
9                1   1.4691   1.0
373146           6   0.4998   0.0
373147           7   0.4998   0.0
373148           5   0.4998   0.0
373149           6   0.4998   0.0
373150           5   0.4998   0.0
373151           2   0.4998   0.0
373152           0   0.4998   0.0
373153          19   0.4998   0.0
373154          -2   0.4998   0.0
373155           0   0.4998   0.0
565658           8  11.5408  12.0
565659           6  11.5408  12.0
565660           2  11.5408  12.0
565661           5  11.5408  12.0
565662           1  11.5408  12.0
565663           1  11.5408  12.0
565664           9  11.5408  12.0
565665           1  11.5408  12.0
565666           2  11.5408  12.0
565667           3  11.5408  12.0
...            ...      ...   ...
5270732          6  13.4997  13.0
5270733          8  13.4997  13.0
5270734          6  13.4997  13.0
5270735          2  13.4997  13.0
5270736          1  13.4997  13.0
5270737          1  13.4997  13.0
5270738          2  13.4997  13.0
5270739          3  13.4997  13.0
5270740          3  13.4997  13.0
5270741         11  13.4997  13.0
24582959         4  16.1074  16.0
24582960         8  16.1074  16.0
24582961         5  16.1074  16.0
24582962         0  16.1074  16.0
24582963         3  16.1074  16.0
24582964         7  16.1074  16.0
24582965         1  16.1074  16.0
24582966         3  16.1074  16.0
24582967         3  16.1074  16.0
24582968         8  16.1074  16.0
24816840        -3  15.4999  15.0
24816841         4  15.4999  15.0
24816842         3  15.4999  15.0
24816843         3  15.4999  15.0
24816844         4  15.4999  15.0
24816845        10  15.4999  15.0
24816846         4  15.4999  15.0
24816847         6  15.4999  15.0
24816848         6  15.4999  15.0
24816849         4  15.4999  15.0

[170 rows x 3 columns]

In [69]:
first = groupedData.groups[0]

In [70]:
type( first )

pandas.core.indexes.numeric.Int64Index