In [7]:
exec(open("inc_notebook.py").read())

FileNotFoundError: [Errno 2] No such file or directory: 'inc_notebook.py'

In [ ]:
import logging, sys, math,os
exec(open("estimator/initKeras.py").read())

In [8]:
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="darkgrid")

In [31]:
if sys.modules.get( 'estimator.EstimatorIO', False ) != False :
    del sys.modules['estimator.EstimatorIO'] 
if sys.modules.get( 'EstimatorIO', False ) != False :
    del sys.modules['EstimatorIO'] 
from estimator.EstimatorIO import *

logging.warning( "EstimatorIO loaded" )

estimatorIO = EstimatorIO()

if sys.modules.get( 'library', False ) != False :
    del sys.modules['library'] 
    
if sys.modules.get( 'library.OneStatsGeneratorForTestPos', False ) != False :
    del sys.modules['library.OneStatsGeneratorForTestPos'] 
if sys.modules.get( 'OneStatsGeneratorForTestPos', False ) != False :
    del sys.modules['OneStatsGeneratorForTestPos'] 
from library.OneStatsGeneratorForTestPos import *  
logging.warning( "OneStatsGeneratorForTestPos loaded" )

generator = OneStatsGeneratorForTestPos()

WARNING:root:EstimatorIO loaded
WARNING:root:OneStatsGeneratorForTestPos loaded
D:\ProgramData\Anaconda3\envs\tf\lib\site-packages\sklearn\base.py:251: UserWarning: Trying to unpickle estimator RobustScaler from version 0.20.2 when using version 0.20.0. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [32]:
trainModel = estimatorIO.loadTrainKerasModel('TinyFFN')
testModel = estimatorIO.loadTestKerasModel('TinyFFN')

In [95]:
import pandas as pd
output = pd.read_csv('F:/myProjects/cmps242/earthquake/data/sample_submission.csv')
dic = {}
for testName, batch in generator.batchesByFile():
#     print(f'test: {testName}')
#     print(trainModel.predict(batch, batch_size=generator.numberOfEmbeddingPerFile))
    pred = trainModel.predict(batch, batch_size=generator.numberOfEmbeddingPerFile)
    dic[testName] = pred
#     print( output.index[output['seg_id'] == testName])
    output.at[output.index[output['seg_id'] == testName], 'time_to_failure'] = np.median(pred)

WARNING:root:encountered exception while reading embedding #34113: [Errno 2] No such file or directory: 'C:/earthquake/one-stats-test-embedding/em_34113.dill'. Sliently progressing

In [98]:
output.to_csv('F:/myProjects/cmps242/earthquake/data/sample_submission2.csv', index=False)

In [44]:
testIds=[]
mean=[]
median=[]
maximum=[]
minimum=[]
for testName, predictions in dic.items():
    testIds.append(testName)
    mean.append(predictions.mean())
    median.append(np.median(predictions))
    maximum.append(np.max(predictions))
    minimum.append(np.min(predictions))

In [54]:
outputDf = pd.DataFrame({'seg_id': testIds, 'mean': mean, 'median': median, 'maximum': maximum, 'minimum': minimum})

In [57]:
outputDf.tail()

          seg_id       mean     median    maximum   minimum
2619  seg_ff4236   6.881995   6.406823  12.512607  1.317240
2620  seg_ff7478   7.257835   7.889874  13.229629  0.000000
2621  seg_ff79d9   5.339462   4.555268  12.721969  0.000000
2622  seg_ffbd6a   5.652420   4.061804  11.426235  0.000000
2623  seg_ffe7cc  10.513198  11.201499  12.952996  2.995433

In [56]:
outputDf.describe()

              mean       median      maximum      minimum
count  2624.000000  2624.000000  2624.000000  2624.000000
mean      7.327166     7.860127    12.230526     0.846505
std       1.886268     2.769908     1.071163     1.404504
min       0.997812     0.000000     3.694298     0.000000
25%       5.979414     5.617494    11.465412     0.000000
50%       7.169943     8.365703    12.311387     0.000000
75%       8.625362    10.037295    13.067025     1.507380
max      12.950901    13.730661    15.134165    10.163391

In [71]:
outputDf[outputDf['median'] < .001].count()

seg_id     3
mean       3
median     3
maximum    3
minimum    3
dtype: int64

In [68]:
outputDf[outputDf['mean'] < 2].count()

seg_id     3
mean       3
median     3
maximum    3
minimum    3
dtype: int64

In [63]:
outputDf[outputDf['maximum'] < .1].count()

seg_id     0
mean       0
median     0
maximum    0
minimum    0
dtype: int64

In [64]:
outputDf[outputDf['minimum'] < .1].count()

seg_id     1578
mean       1578
median     1578
maximum    1578
minimum    1578
dtype: int64

In [65]:
len(outputDf)

2624

In [77]:
output.head()

       seg_id  time_to_failure
0  seg_00030f                0
1  seg_0012b5                0
2  seg_00184e                0
3  seg_003339                0
4  seg_0042cc                0

In [93]:
output.index[output['seg_id'] == 'seg_00184e']

Int64Index([2], dtype='int64')

In [87]:
output.at[2, 'time_to_failure'] = 100

In [88]:
output.iloc[2]

seg_id             seg_00184e
time_to_failure           100
Name: 2, dtype: object